.text-center
  = book.name
.links
  = link_to 'edit', '#', data: {reflex: 'click->Admin::BooksReflex#edit', id: book.id}
  = link_to 'delete', '#', data: {reflex: 'click->Admin::BooksReflex#destroy', id: book.id}
.edit-book-form-container{id: "edit-book-#{book.id}"}