.book
  .text-center
    = book.name
  .links
    = link_to 'edit', '#', data: {reflex: 'click->Admin::BooksReflex#edit'}
    = link_to 'delete', '#', data: {reflex: 'click->Admin::BooksReflex#destroy'}
  .edit-book-form-container{id: "edit-#{book.id}"}