.text-center.text-2xl
  = my_book.name
  .text-lg
    = my_book.author
.links
  = link_to 'return', '#', data: {reflex: 'click->BooksReflex#return', id: my_book.id}
  = link_to 'read', '#', data: {reflex: 'click->BooksReflex#show', id: my_book.id}, class: 'float-right'
