%h2
  Books on Librarry
.search
  = text_field_tag :query, nil, placeholder: 'search', data: {reflex: 'keyup->BooksReflex#search'}
.books
  = render partial: 'books/books', locals: {books: @books} 
%h2
  Books I Borrowed
.my-books
  = render partial: 'books/my_books', locals: {my_books: current_user.books}