%h2
  Books on Librarry
- @books.each do |book|
  = render partial: 'book', locals: {book: book} 
%h2
  Books I Borrowed
- if current_user.present?
  - current_user.books.each do |book|
    = render partial: 'my_book', locals: {book: book} 