%ul.flex.bg-black.p-4
  %li.mr-4
    = link_to 'Home', '/', class: 'text-blue-500 hover:text-blue-800'
  %li.mr-4
    = link_to 'Manage Books', admin_books_path, class: 'text-blue-500 hover:text-blue-800'
  %li.mr-4
    = link_to 'Sign out', destroy_user_session_path, class: 'text-blue-500 hover:text-blue-800', method: :delete
  